body {
  background: rgb(183, 9, 76);
  background: -moz-linear-gradient(
    45deg,
    rgba(183, 9, 76, 1) 0%,
    rgba(0, 145, 173, 1) 95%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(183, 9, 76, 1) 0%,
    rgba(0, 145, 173, 1) 95%
  );
  background: linear-gradient(
    45deg,
    rgba(183, 9, 76, 1) 0%,
    rgba(0, 145, 173, 1) 95%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b7094c",endColorstr="#0091ad",GradientType=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.content {
  color: rgb(0, 0, 0);
  padding: 5%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
