html {
  height: 100%;
}

body {
  min-height: 100%;
  /* text-align: center; */
  font-family: "Kanit", sans-serif;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 5rem;
  margin: 0;
  color: white;
}

.row {
  margin: 3rem;
}

.button {
  font-size: 1.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px 3px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.button:hover{
  background: rgba(255, 180, 180, 0.3);
  border:none;
}

.button-small{
  font-size: 1rem;
}

a {
  color: #ececec;
}

a:hover {
  color: rgb(209, 209, 209);
  text-decoration: none;
}

.first.row {
  margin-top: 35%;
  margin-bottom: 20%;
}
.image-box img {
  width: 18rem;
}

/* Gradient Background -----------------------------------------------------------*/

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.test {
  text-align: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  display: flex;
  justify-content: center;
}

.paused {
  -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
  animation-play-state: paused;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
