.rowdiv {
  background: rgba(196, 196, 196, 0.24);
  border: 1px solid #b1b1b1;
  box-sizing: border-box;
  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 30px;
  width: 80%;
  margin: auto;
  margin-top: 1% !important;
  margin-left: 10% !important;
}
.hrow {
  display: inline;
  border-right: 1px solid #b1b1b1;
  text-align: center;
  margin: auto;
  padding: 10% !important;
}

table {
  background: rgba(196, 196, 196, 0.24) !important;
  border: 1px solid #b1b1b1 !important;
  color: white;
  width: 80%;
}
thead th {
  background: rgba(196, 196, 196, 0.24) !important;
}

#table_div {
  margin-left: 5% !important;

  margin-right: 5% !important;
  margin-bottom: 10% !important;
}
#firsth1 {
  margin-top: 0% !important;
  padding-top: 5%;
}