body {
  background: linear-gradient(116.31deg, #b7094c 0%, #0091ad 99.82%);
  background-size: 100% 110%;
  background-attachment: fixed;
}

.container {
  color: white;
}

.shape {
  height: 88vh;
}

.avatar {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 20px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 200px;
  /* margin-right: 25px; */
  text-align: center;
  padding-left: 0%;
}

.stats {
  width: 80%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 20px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 0 auto;
  margin-right: 0;
  /* display: flex; */
}

.chart {
  color: white;
}

.avatar > .row {
  margin-bottom: 15px;
}

.row.name {
  margin: 5px;
}

.row.email {
  margin: 5px;
  margin-bottom: 15px;
}

.name h1 {
  font-size: 3rem;
  letter-spacing: 5px;
}

.email h2 {
  font-size: 1rem;
}

.stats h3 {
  margin: 0;
  font-size: 1.5rem;
}
.description p {
  font-size: 1.5rem;
}

.avatar-image img {
  padding-left: 0%;
  width: 100%;
}

.shape {
  /* padding: 15px; */
  border-radius: 30px;
}

.edit-button {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  margin-bottom: 10px;
  width: 100px;
  margin-left: 0% !important;
  margin-top: 1% !important;
}

.shape .chart {
  margin: 0 auto;
  margin-top: 20px;
}

.shape .figures {
  /* text-align: start; */
  display: flex;
  /* margin: 20px 0; */
  margin-top: 50px;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background: rgba( 255, 255, 255, 0.25 ); */
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(1px);
  /* -webkit-backdrop-filter: blur( 4px ); */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.figures h6 {
  font-size: 1.6rem;
  font-family: "Luckiest Guy", cursive;
}

p {
  font-family: "Luckiest Guy", cursive;
  font-size: 1.5rem;
}

.figures > .figure-wrappers {
  margin-bottom: 20px;
}

.figure-wrappers div {
  width: 150px;
}

.figure-wrappers {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 780px) {
  body {
    background-size: 100% 110%;
  }
  .avatar {
    margin: auto;
  }

  .avatar img {
    width: 300%;
    /* margin:  0 auto; */
  }

  .stats {
    margin: auto;
    margin-top: 30px;
  }

  .name h1 {
    font-size: 2rem;
  }
  .email h2 {
    font-size: 0.5rem;
  }
  .stats h3 {
    font-size: 1rem;
  }
}

.name-edit {
  outline: none;
  border: none;
  background-color: rgba(196, 196, 196, 0.24);
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.description-edit {
  outline: none;
  background: rgba(196, 196, 196, 0.24);
  border: none;
  padding: 5px;
  color: white;
  width: 100%;
  resize: none;
  height: 10vh;
  margin: 0 auto;
}

.avatar-image {
  padding-left: 0%;
  /* margin-bottom: 0%; */
}

.avatar_button {
  /* z-index: -1; */
  margin-top: 0% !important;
  margin-left: 0% !important;
  margin-right: 50% !important;
}
