h2 {
  font-family: "Luckiest Guy", cursive;
  font-size: 350%;
}

#blue {
  color: rgba(0, 145, 173, 0.7);
}

#red {
  color: rgb(183, 9, 76);
}

#boxdiv {
  background: rgba(196, 196, 196, 0.24);
  border: 1px solid #b1b1b1;
  box-sizing: border-box;
  backdrop-filter: blur(25px);

  margin-top: 5% !important;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 30%;
  width: 65%;
  padding-top: 4%;
  padding-bottom: 4%;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}

#forbackground {
  padding-bottom: 1%;
}
