.main-page h1 {
  padding-top: 30px !important;
}


.game-info {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  border-radius: 20px;
  font-size: 0.6rem !important;
  
}

.game-info p{
  font-size: 1rem !important;
  font-family:'Kanit', sans-serif !important;
}

.teams-turn {
  font-size: 1.2rem !important;
  font-family:'Kanit', sans-serif !important;
  color: rgb(1, 169, 202);
}

@media (min-width: 780px) {

#gamepage {
  text-align: center;

  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    116.82deg,
    #0a2468 0%,
    #000000 0.01%,
    rgba(6, 25, 74, 0.76) 100%
  );
  background: -webkit-linear-gradient(
    116.82deg,
    #0a2468 0%,
    #000000 0.01%,
    rgba(6, 25, 74, 0.76) 100%
  );
  background: linear-gradient(
    116.82deg,
    #0a2468 0%,
    #000000 0.01%,
    rgba(6, 25, 74, 0.76) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b7094c",endColorstr="#0091ad",GradientType=1);

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#gamepage h1 {
  margin-top: 0% !important;
  padding-top: 6%;
}

.icon-image {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15%;
  transition: 1.5s;
}

.icon-image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);

  /* Note: backdrop-filter has minimal browser support */
}



.game-info p {
  margin-bottom: 1%;
}
/* 
.one {
  background: rgba(0, 145, 173, 0.7);
}

.two {
  background: #b7094c;
} */

.blue img {
  background: rgba(0, 145, 173, 0.7);
  border: 4px solid rgba(0, 214, 255, 0.7);
  border-radius: 25px;
}

.red img {
  background: #b7094c;
  border: 4px solid #ff0062;
  border-radius: 25px;
}

.black img {
  background: #0a0325;
  border: 4px solid #6b4e6b;
  border-radius: 25px;
}

.grey img {
  background: #919191;
  border: 4px solid #ffffff;
  border-radius: 25px;
}

h4 {
  font-family: "Luckiest Guy", cursive;
  font-size: 300%;
}

.two.wide.column {
  margin-top: 2%;
}

.redbutton {
  /* margin-bottom: 1% !important;
  margin-left: 0.5% !important; */
}

#rightbutton {
  /* margin-right: 55% !important; */
}

.bluebutton {
  /* margin-bottom: 1% !important;
  margin-left: 0.5% !important; */
}

.words {
  /* margin: 4%; */
  margin-left: 0%;
  margin-right: 1%;
  margin-bottom: 15%;
  padding: 22%;
  background: #919191;
  border: 4px solid #ffffff;
  border-radius: 25px;
  margin-top: 0%;
  padding-top: 28%;
  padding-bottom: 28%;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}

.blue_word {
  margin-left: 0%;
  margin-right: 1%;
  margin-bottom: 15%;
  padding: 22%;
  background: rgba(0, 145, 173, 0.7);
  border: 4px solid rgba(0, 214, 255, 0.7);
  border-radius: 25px;
  margin-top: 0%;
  padding-top: 28%;
  padding-bottom: 28%;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}

.red_word {
  margin-left: 0%;
  margin-right: 1%;
  margin-bottom: 15%;
  padding: 22%;
  background: #b7094c;
  border: 4px solid #ff0062;
  border-radius: 25px;
  margin-top: 0%;
  padding-top: 28%;
  padding-bottom: 28%;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}

.grey_word {
  margin-left: 0%;
  margin-right: 1%;
  margin-bottom: 15%;
  padding: 22%;
  background: #919191;
  border: 4px solid #ffffff;
  border-radius: 25px;
  margin-top: 0%;
  padding-top: 28%;
  padding-bottom: 28%;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}

.black_word {
  margin-left: 0%;
  margin-right: 1%;
  margin-bottom: 15%;
  padding: 22%;
  background: #0a0325;
  border: 4px solid #6b4e6b;
  border-radius: 25px;
  margin-top: 0%;
  padding-top: 28%;
  padding-bottom: 28%;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}

.words p,
.blue_word,
.red_word,
.grey_word,
.black_word {
  color: white;
  font-size: 1.1rem;
  font-family: "Luckiest Guy", cursive;
  margin-left: 0.5% !important;
}

/* CHATBOX */
.chatbox {
  width: 95%;
  height: 58vh;
  max-height: 300px;
  margin-top: 20px;
  margin-right: 3px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: auto;
}

.message {
  display: flex;
  width: 70%;
  /* max-width: 70%; */
  /* height: 80%; */
  color: rgb(219, 219, 219);
  font-weight: 600;
  padding: 5px;
  margin: 7px 7px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
}

.message.blue {
  border: 2px solid rgba(0, 145, 173, 0.7);
  border-radius: 20px;
  background-color: rgba(0, 145, 173, 0.7);
  float: right;
}

.message.red {
  border: 2px solid #b7094c;
  border-radius: 20px;
  background-color: #b7094c;
  float: left;
  text-align: left;
}
.hintbox {
  /* width: 800px; */
  max-width: 100%;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
  display: block;
  margin-right: 15%;
}

.hintbox input {
  color: white;
}

.hintbox .preg{
  color:#ffffff !important; 
  font-family: 'Kanit', sans-serif !important;
}

.hintform div {
  display: inline;
}

.hintform {
  /* display: flex; */

  margin: 0 auto;
}

.hint {
  /* width: 200px; */
  max-width: 100%;
  display: block;
}

.form-button{
  margin: 0 !important;
  margin-top: 20px !important;
}

.form-field{
  /* background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  
  border: 1px solid rgba(255, 255, 255, 0.18); */
  border: none;
  border-radius: 50px !important;
  background: rgba(255, 255, 255, 0.25) !important;

}

label{
  padding-left: 0;
}

.moves {
  width: 80px;
  display: block;
}


.two.wide.column{
  max-height: 700px !important;
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 1400px
  
}

.buttons .left{
  display: flex;
  max-width: 100%;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}



.buttons .right{
  max-width: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.buttons button{
  margin:0 !important; 
}

.main-page{
  max-width: 100%;
}

}


@media (max-width: 1200px) {

  .game-info{
    font-size: 0.6rem;
  }
  .words{
    font-size: 0.8rem;
  }
  .moves {
    width: 70px;
  }
  .icon-image {
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    transition: 1.5s;
  }

}

@media (max-width: 1000px) {
  .words{
    font-size: 0.3rem !important;
  }

  .game-info{
    font-size: 0.4rem;
  }
}